In [4]:
import pandas as pd
import re

In [5]:
df = pd.read_csv('Indeed_Salaries.csv')
df.head()

,Lien,Poste,Entreprise,Localisation,Type de Contrat,Salaire,Description,Nombre d'avis,Note Moyenne,Diplôme,Années d'expérience,Type de contrat,Temps de travail,Technologies,Langues,Industrie,Département
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,Ingénieur-e données,INRAE,37380 Nouzilly,Temps plein,NaN,Présentation d'INRAE\nL’Institut national de r...,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,Ingénieur-e données,INRAE - Institut National de Recherche pour l'...,Nouzilly (37),"Temps plein, CDI",NaN,"Acteur majeur de la recherche publique, INRAE ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN EN GESTION DE DONNEES TECHNIQUES SA...,INTERACTION ORLEANS,41500 Mer,"Temps plein, CDD",NaN,Votre mission :\n\nL'agence INTERACTION ORLEAN...,88.0,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,Master Data Specialist / Spécialiste Base Arti...,PB SOLUTIONS,Beaune-la-Rolande (45),CDI,NaN,Master Data Specialist / Spécialiste Base Arti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,Gestionnaire de Base de Données (h/f),Adecco,37300 Joué-lés-Tours,Intérim,NaN,Votre mission\n Adecco Tours Tertiaire recherc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
for column in df.columns:
    df['Poste']=df['Poste'].str.replace('H/F', "")
    df['Poste']=df['Poste'].str.replace('h/f', "")
    df['Poste']=df['Poste'].str.replace('("")',"")    
df

/var/folders/xh/992blmm116gfjsjxnphl232w0000gn/T/ipykernel_68821/2237752831.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Poste']=df['Poste'].str.replace('("")',"")

,Lien,Poste,Entreprise,Localisation,Type de Contrat,Salaire,Description,Nombre d'avis,Note Moyenne,Diplôme,Années d'expérience,Type de contrat,Temps de travail,Technologies,Langues,Industrie,Département,salaire
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,Ingénieur-e données,INRAE,37380 Nouzilly,Temps plein,NaN,Présentation d'INRAE\nL’Institut national de r...,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,Ingénieur-e données,INRAE - Institut National de Recherche pour l'...,Nouzilly (37),"Temps plein, CDI",NaN,"Acteur majeur de la recherche publique, INRAE ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN EN GESTION DE DONNEES TECHNIQUES SA...,INTERACTION ORLEANS,41500 Mer,"Temps plein, CDD",NaN,Votre mission :\n\nL'agence INTERACTION ORLEAN...,88.0,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,Master Data Specialist / Spécialiste Base Arti...,PB SOLUTIONS,Beaune-la-Rolande (45),CDI,NaN,Master Data Specialist / Spécialiste Base Arti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,Gestionnaire de Base de Données (),Adecco,37300 Joué-lés-Tours,Intérim,NaN,Votre mission\n Adecco Tours Tertiaire recherc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,https://fr.indeed.com/viewjob?jk=0c4454f31cf2ebe7,Data Analytics Engineer / BI Engineer () - CDI,Jellysmack,France,Temps plein,NaN,Jellysmack is the global creator company that ...,24.0,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
109,https://fr.indeed.com/viewjob?jk=9a5cfca2c8b55cac,Data Manager,Walters People,Chartres (28),- CDD,32 000 € - 37 000 € par an,Nous recrutons un(e) Data Manager H/F pour un ...,42.0,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
110,https://fr.indeed.com/viewjob?jk=f28e995b8813aded,Data Scientist Time Series () - CDI,Jellysmack,France,Temps plein,NaN,Jellysmack is the global creator company that ...,24.0,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
111,https://fr.indeed.com/viewjob?jk=fb8a33c83287bcbf,Advisory DATA Architect - Kyndryl,Kyndryl,France,Temps plein,NaN,492306BR\nWhy Kyndryl\nOur world has never bee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
112,https://fr.indeed.com/viewjob?jk=ca85d5315b7a2582,Data Analyst Manager () - CDI,Jellysmack,France,Temps plein,NaN,Jellysmack is the global creator company that ...,24.0,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0